doctype html
html
   head
      title = Home
      link(rel="stylesheet", href="/css/style.css")
   body
      include ./header.pug
      p.greetings#people Bienvenidos a nuestra pagina de Inicio
   
      img(src="/assets/perro.gif", widht="300")
   include ./footer.pug